/* FONTE UTILIZADA */
@import url('https://fonts.googleapis.com/css2?family=Gotu&display=swap');

/* ESTILIZAÇÃO PARA MOBILE */
@media(max-width: 600px){

    /* TELA LOGIN */
    #bodyTelaLogin{
        display: flex;

        margin: 0;

        background-color: cadetblue;

        align-items: center;
        justify-content: center;
        text-align: center;
        color: white;

        font-family: "Gotu", sans-serif;
        font-weight: 400;
        font-style: normal;

        width: 100%;
        height: 100%;

        #boxFormLogin{
            font-size: 20px;
            margin-top: 50px;
        }

        .campoTexto{
            font-size: 20px;
        }

        #btnLogin{
            font-size: 20px;
        }

    }

    #telaCadNovoUsu{
        display: flex;

        margin: 0;

        background-color: cadetblue;

        align-items: center;
        justify-content: center;
        text-align: center;
        color: white;

        font-family: "Gotu", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 20px;

        width: 100%;
        height: 100%;

        #btnCadNewUsu{
            font-size: 20px;
        }

        .btnSair{
            font-size: 20px;
        }
    }

}

@media(min-width: 601px) {

    /* Estilização geral dos botões */
    .btnNormal {
        font-size: 20px;
        border-radius: 5px;
    }

    .btnNormal:hover {
        background-color: blue;
        color: white;

        transition: background-color 0.15s ease-in-out;
        cursor: pointer;
    }

    /* ESTILIZAÇÃO GERAL DOS BOTÕES DE ALTERAÇÃO */

    .btnSalvar {
        font-size: 20px;
        border-radius: 5px;
    }

    .btnSalvar:hover {
        background-color: rgb(18, 190, 53);
        color: white;

        transition: background-color 0.15s ease-in-out;
        cursor: pointer;
    }

    /* ESTILIZAÇÃO GERAL DOS INPUTS*/
    .inputNormal {
        font-size: 17px;
        text-align: center;
        border-radius: 5px;
    }

    .inputsNumber {
        width: 60px;
        font-size: 17px;
        border-radius: 5px;
        text-align: center;
    }

    /* ESTILIZAÇÃO GERAL DOS BOTÕES DE UPLOAD DE IMAGENS */
    .inputSelectImg {
        display: inline-block;
        padding: 10px 20px;
        text-align: center;
        border-radius: 5px;
    }

    .inputSelectImg:hover {
        background-color: rgba(92, 92, 92, 0.575);
        color: white;

        transition: background-color 0.15s ease-in-out;
        cursor: pointer;
    }

    /* ESTILIZAÇÃO DA TELA index.php */

    #bodyTelaLogin {
        display: flex;

        margin: 0;

        background-color: cadetblue;

        align-items: center;
        justify-content: center;
        text-align: center;

        font-family: "Gotu", sans-serif;
        font-weight: 400;
        font-style: normal;

        width: 100%;
        height: 100%;

        #boxFormLogin {
            margin-top: 100px;
            padding: 20px;
            padding-left: 50px;
            padding-right: 50px;
            background-color: rgba(221, 221, 221, 0.562);
        }

        label {
            font-size: 22px;
        }

        .campoTexto {
            font-size: 18px;
            text-align: center;
            border-radius: 5px;

            background-color: rgba(255, 255, 255, 0.808);
        }

        #btnLogin {
            font-size: 20px;
            border-radius: 5px;
        }

        #btnLogin:hover {
            background-color: blue;
            color: white;

            transition: background-color 0.15s ease-in-out;
            cursor: pointer;
        }

        .mensagem-erro {
            font-weight: bold;
        }
    }

    /* ESTILIZAÇÃO DA TELA DE CADASTRO DE USUÁRIO */
    #telaCadNovoUsu {
        display: flex;

        margin: 0;

        background-color: cadetblue;

        align-items: center;
        justify-content: center;
        text-align: center;

        font-family: "Gotu", sans-serif;
        font-weight: 400;
        font-style: normal;

        width: 100%;
        height: 100%;

        #addUsu {
            margin-top: 100px;
            padding: 20px;
            padding-left: 50px;
            padding-right: 50px;
            background-color: rgba(221, 221, 221, 0.562);

            label {
                font-size: 20px;
            }

            #btnCadNewUsu {
                font-size: 16px;
                border-radius: 5px;
            }

            #btnCadNewUsu:hover {
                background-color: blue;
                color: white;

                transition: background-color 0.15s ease-in-out;
                cursor: pointer;
            }

            .btnSair {
                font-size: 16px;
                border-radius: 5px;
            }

            .btnSair:hover {
                background-color: red;
                color: white;

                transition: background-color 0.15s ease-in-out;
                cursor: pointer;
            }
        }
    }

    /* ESTILIZAÇÃO DO home.php */
    #telaHome {
        display: flex;
        flex-direction: column;
    
        margin: 0;
    
        align-items: center;
        justify-content: center;
        text-align: center;
    
        font-family: "Gotu", sans-serif;
        font-weight: 400;
        font-style: normal;
    
        width: 100%;
        height: 100%;
    
        header {
            width: 100%;
            font-size: 30px;
            height: 60px;
            background-color: cadetblue;
            color: white;
        }
    
    
        #botoesHome {
    
            margin-top: 40px;
            margin-bottom: -57px;
    
            .btnHome {
                font-size: 20px;
                padding: 2px;
                border-radius: 5px;
                color: white;
                background-color: cadetblue;
    
                width: 300px;
            }
    
            .btnHome:hover {
                background-color: rgba(95, 158, 160, 0.400);
                color: rgb(0, 0, 0);
    
                transition: background-color 0.15s ease-in-out;
                cursor: pointer;
            }
    
            #btnLogout {
                font-size: 20px;
                padding: 2px;
                border-radius: 5px;
                color: white;
                background-color: cadetblue;
    
                width: 300px;
            }
    
            #btnLogout:hover {
                background-color: rgba(95, 158, 160, 0.400);
                color: rgb(0, 0, 0);
    
                transition: background-color 0.15s ease-in-out;
                cursor: pointer;
            }
        }
    
        footer {
            position: absolute;
            bottom: 0;
            background-color: cadetblue;
            width: 100%;
            color: white;
            font-size: 20px;
        }
    }

    /* ESTILIZAÇÃO DA PÁGINA cadLivro.php */
    #telaCadLivro {
        display: flex;
        flex-direction: column;

        margin: 0;

        align-items: center;
        justify-content: center;
        text-align: center;

        font-family: "Gotu", sans-serif;
        font-weight: 400;
        font-style: normal;

        width: 100%;
        height: 100%;

        background-color: cadetblue;

        #formCadLivro {
            margin-top: 20px;
            margin-bottom: 20px;
            padding: 20px;
            padding-left: 30px;
            padding-right: 30px;
            background-color: rgba(221, 221, 221, 0.562);

            label {
                font-size: 20px;
            }

            .inputNormal {
                font-size: 17px;
                text-align: center;
                border-radius: 5px;
            }

            .inputsNumber {
                width: 60px;
                font-size: 17px;
                border-radius: 5px;
                text-align: center;
            }

            #addLivro {
                font-size: 20px;
                border-radius: 5px;
            }

            #addLivro:hover {
                background-color: blue;
                color: rgb(255, 255, 255);

                transition: background-color 0.15s ease-in-out;
                cursor: pointer;
            }

            select {
                border-radius: 5px;
                font-size: 17px;
                text-align: center;
            }

        }


    }

    /* ESTILIZAÇÃO DA TELA DE LIVROS */

    #telaListaLivros {
        margin: 0;
        padding: 0;

        font-family: "Gotu", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    /* AS ESTILIZAÇÕES ABAIXO FAZEM PARTE DA LISTA DE LIVROS EM SI */

    #cabecalhoListaLivros {
        display: flex;
        position: fixed;

        width: 100%;
        height: 100px;

        text-align: center;
        align-items: center;
        justify-content: center;

        background-color: cadetblue;
        color: white;

        h1 {
            position: absolute;
            font-size: 35px;

            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-weight: 400;
        }

        .btnSair {
            position: absolute;
            left: 10px;

            background: none;
            border: 0;
        }

    }

    #livros {
        display: flex;
        flex-direction: column;

        #cardLivro {
            display: flex;
            flex-direction: column;
            text-align: center;

            margin-top: 20px;
            margin-bottom: 20px;
            width: 300px;
            justify-content: center;
            align-items: center;

            padding: 20px;
            padding-left: 30px;
            padding-right: 30px;
            background-color: cadetblue;

            #imgLivro {
                min-width: 230px;
                min-height: 300px;

                max-width: 300px;
                max-height: 300px;
            }
        }

        #listaLivros {
            list-style-type: none;
            padding: 0;
            margin: 0;
            margin-top: 150px;

            margin-left: 25px;

            display: grid;
            grid-template-columns: repeat(3, minmax(100px, 190px));
            /* Cria colunas flexíveis */
            column-gap: 250px;
            /* Espaçamento entre as colunas */
            row-gap: 50px;
            /* Espaçamento entre as linhas */

            #itensListaLivros {
                color: white;
                margin-left: 20px;
                margin-right: 20px;
                margin-top: 0px;
                margin-bottom: 0px;

                .botoesCardLivro {

                    color: white;
                    background-color: rgba(0, 0, 0, 0.384);
                    font-size: 15px;
                    border-radius: 5px;

                }

                .botoesCardLivro:hover {
                    background-color: cadetblue;
                    color: white;

                    transition: background-color 0.15s ease-in-out;
                    cursor: pointer;
                }

            }
        }
    }

    #rodapeListaLivros {
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: center;

        background-color: cadetblue;
        color: white;
        width: 100%;
        height: 70px;
    }

    /* ESTILIZAÇÃO DA TELA DE EDIÇÃO DE LIVROS */
    #telaEditLivro {
        display: flex;

        margin: 0;

        background-color: cadetblue;

        align-items: center;
        justify-content: center;
        text-align: center;

        font-family: "Gotu", sans-serif;
        font-weight: 400;
        font-style: normal;

        width: 100%;
        height: 100%;
    }

    #formEditLivro {

        margin-top: 20px;
        margin-bottom: 20px;
        padding: 20px;
        padding-left: 50px;
        padding-right: 50px;
        background-color: rgba(221, 221, 221, 0.562);

        .selectsLivro {
            font-size: 17px;
            text-align: center;
            border-radius: 5px;
            width: 160px;
            border-width: 2px;
            border-style: solid;
            border-color: black;
        }

    }

    /* ESTILIZAÇÃO DA TELA DE CADASTRO DE AUTORES */
    #telaCadAutor {
        display: flex;

        margin: 0;

        background-color: cadetblue;

        align-items: center;
        justify-content: center;
        text-align: center;

        font-family: "Gotu", sans-serif;
        font-weight: 400;
        font-style: normal;

        width: 100%;
        height: 100%;
    }

    #boxCadAutor {
        margin-top: 120px;
        margin-bottom: 20px;
        padding: 20px;
        padding-left: 50px;
        padding-right: 50px;
        background-color: rgba(221, 221, 221, 0.562);
    }

    /* ESTILIZAÇÃO DA TELA DE AUTORES CADASTRADOS */
    #listaAutores {
        display: flex;

        margin: 0;

        background-color: cadetblue;

        align-items: center;
        justify-content: center;
        text-align: center;

        font-family: "Gotu", sans-serif;
        font-weight: 400;
        font-style: normal;

        width: 100%;
        height: 100%;

        table {
            margin-top: 120px;
            margin-bottom: 20px;
            padding: 20px;
            padding-left: 50px;
            padding-right: 50px;
            background-color: rgba(255, 255, 255, 0.829);
            border-radius: 5px;

            button {
                background-color: cadetblue;
                color: white;
            }

            button:hover {
                background-color: white;
                color: black;

                transition: background-color 0.15s ease-in-out;
                transition: color 0.15s ease-in-out;
                cursor: pointer;
            }
        }
    }

    /* ESTILIZAÇÃO DA TELA DE EDIÇÃO DE UM AUTOR CADASTRADO */

    #telaEditAutor {
        display: flex;

        margin: 0;

        background-color: cadetblue;

        align-items: center;
        justify-content: center;
        text-align: center;

        font-family: "Gotu", sans-serif;
        font-weight: 400;
        font-style: normal;

        width: 100%;
        height: 100%;
    }

    #formEditAutor {
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 20px;
        padding-left: 50px;
        padding-right: 50px;
        background-color: rgba(221, 221, 221, 0.562);
    }

    /* ESTILIZAÇÃO DA TELA DE CADASTRO DE EDITORAS */
    #telaCadEditora {
        display: flex;

        margin: 0;

        background-color: cadetblue;

        align-items: center;
        justify-content: center;
        text-align: center;

        font-family: "Gotu", sans-serif;
        font-weight: 400;
        font-style: normal;

        width: 100%;
        height: 100%;
    }

    #boxCadEditora {
        margin-top: 120px;
        margin-bottom: 20px;
        padding: 20px;
        padding-left: 50px;
        padding-right: 50px;
        background-color: rgba(221, 221, 221, 0.562);

        #infosEdit {
            width: 200px;
            height: 100px;
            border-radius: 5px;
            resize: none;
        }
    }

    /* ESTILIZAÇÃO DA TELA DE EDITORAS CADASTRADAS */
    #listaEditoras {
        display: flex;
        flex-direction: column;

        margin: 0;

        background-color: cadetblue;

        align-items: center;
        justify-content: center;
        text-align: center;

        font-family: "Gotu", sans-serif;
        font-weight: 400;
        font-style: normal;

        width: 100%;
        height: 100%;

        table {
            margin-top: 120px;
            margin-bottom: 20px;
            padding: 20px;
            padding-left: 50px;
            padding-right: 50px;
            background-color: rgba(255, 255, 255, 0.829);
            border-radius: 5px;

            button {
                background-color: cadetblue;
                color: white;
            }

            button:hover {
                background-color: white;
                color: black;

                transition: background-color 0.15s ease-in-out;
                transition: color 0.15s ease-in-out;
                cursor: pointer;
            }
        }
    }

    /* ESTILIZAÇÃO DA TELA DE EDIÇÃO DE EDITORAS */

    #telaEditEditora {

        display: flex;
        flex-direction: column;

        margin: 0;

        background-color: cadetblue;

        align-items: center;
        justify-content: center;
        text-align: center;

        font-family: "Gotu", sans-serif;
        font-weight: 400;
        font-style: normal;

        width: 100%;
        height: 100%;

        #formEditEditora {
            margin-top: 120px;
            margin-bottom: 20px;
            padding: 20px;
            padding-left: 50px;
            padding-right: 50px;
            background-color: rgba(221, 221, 221, 0.562);

            #infosEdit {
                width: 200px;
                height: 100px;
                border-radius: 5px;
                resize: none;
            }
        }
    }
}